@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.google-map {
  position: relative;
  display: block;
  background-color: var(--oxpins-extra);
}

.google-map__one {
  position: relative;
  display: block;
  border: none;
  height: 475px;
  width: 100%;
  mix-blend-mode: luminosity;
}
